body{
    background-color: lightgreen;
}

.h1{
    color: darkgreen;
    text-align: center;
    font: Arial, sans-serif;
    font-size: 36px;
}

.description{
    color: darkgreen;
    font: Arial, sans-serif;
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18%;
}

form{
    text-align: center;
}